.title {
  color: #7065f0;
  font-size: 24px;
  font-weight: bold;
}

.headline-question {
  color: #ffffff;
  font-size: 40px;
}

.secondary {
  background-color: #7065f0;
  color: white;
  font-weight: bold;
}

.paragraph {
  color: #d3d5da;
  font-size: 16px;
}

.newstletter {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: #ffffff;
  width: 50%;
  padding: 20px;
}
