.footer {
  display: grid;
  align-items: start;
  padding: 20px;
  grid-template-areas:
    "logo1 links links links"
    "logo1 links links links";
  grid-template-columns: auto 1fr 1fr 1fr;
}

.title {
  font-weight: bold;
}

.pages {
  font-size: 16px;
  padding: 10px;
}

.logo1 {
  grid-area: logo1;
  justify-self: start;
}

.links {
  grid-area: links;
  list-style-type: none;
  text-align: center;
}
