.sentence-first {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.sentence-second {
  font-size: var(--font-size-quaternary);
  font-weight: var(--font-weight-primary);
  color: var(--color-text-secondary);
}

.sentence-first,
.sentence-second {
  padding: var(--padding-secondary);
}
