.single-property {
  border: 1px solid #f0effb;
}

.price {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-tertiary);
  font-weight: bolder;
}

.single-property-description {
  padding: var(--padding-secondary);
}

.price2,
.address,
.icons {
  color: var(--color-text-secondary);
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.address {
  border-bottom: 1px solid #7f8393;
  padding-bottom: 15px;
}

.title {
  font-size: var(--font-size-tertiary);
  font-weight: var(--font-weight-secondary);
}
