.data-component {
  display: flex;
  gap: var(--column-gap-primary);
}

.data-item {
  border-left: 3px solid #e0def7;
  padding-left: 24px;
}

.data-item-number {
  font-weight: var(--font-weight-secondary);
  color: var(--color-text-tertiary);
  font-size: var(--font-size-secondary);
}

.data-item-text {
  color: var(--color-text-secondary);
  font-size: var(--font-size-quaternary);
  line-height: 2.5;
}
