.see-more-btn {
  background-color: var(--color-background-button-primary);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-secondary);
}

.tab-header {
  background-color: #dedef7;
  padding: 1px;
  border-radius: var(--border-radius-primary);
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-tab-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.tab-btn {
  width: 155px;
  height: 48px;
  font-size: var(--font-size-quaternary);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-secondary);
  border-radius: var(--border-radius-primary);
  align-content: center;
  text-align: center;
  cursor: pointer;
}

h3 {
  font-size: var(--font-size-secondary);
  text-align: center;
}

h4 {
  font-size: var(--font-size-quaternary);
  font-weight: var(--font-weight-primary);
  text-align: center;
}

.tabBtnSelected {
  color: var(--color-text-tertiary);
  background-color: var(--color-background-primary);
}
