.primary {
  background-color: #e0def7;
  font-weight: bold;
}

.secondary {
  background-color: #7065f0;
  color: white;
  font-weight: bold;
}

.header {
  background-color: #fafafe;
  display: none;
  height: 96px;
}

.map-image {
  display: none;
}

aside {
  align-self: center;
}

@media (min-width: 1024px) {
  .map-image {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-btn {
    display: flex;
    gap: 16px;
    border-radius: 8px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  article {
    justify-self: stretch;
    padding: 50px;
  }
}
