.header {
  background-color: #fafafe;
  display: none;
  height: 96px;
}

.map-image {
  display: none;
}

aside {
  align-self: center;
  justify-self: center;
}

@media (min-width: 1024px) {
  .map-image {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .grid-properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-self: center;
  }

  .header-btn {
    display: flex;
    gap: 16px;
    border-radius: 8px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .testimonials,
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta {
    background-color: #100a55;
    padding: 100px;
  }

  article {
    justify-self: stretch;
    padding: 50px;
  }
}

h1 {
  font-weight: bold;
  font-size: 64px;
  padding-bottom: 32px;
}

h2 {
  font-size: 20px;
  padding-bottom: 32px;
}

.background-color {
  background-color: #f7f7fd;
  padding: 30px;
}

@media (min-width: 1024px) {
  .text-component {
    width: 544px;
  }
  .benefit-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 16px;
    align-items: center;
  }
}

.sentence-first {
  font-size: 40px;
  font-weight: bold;
}

.sentence-second {
  font-size: 16px;
  font-weight: normal;
}

.secondary {
  background-color: #7065f0;
  color: white;
  font-weight: bold;
}

.header {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}
