.header {
  display: none;
}

.map-image {
  display: none;
}

aside {
  align-self: center;
  justify-self: center;
  grid-area: right-column;
}

@media (min-width: 1024px) {
  .map-image {
    display: block;
    background-size: cover;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }

  .grid-properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
  }

  .header-btn {
    display: flex;
    gap: var(--column-gap-secondary);
    border-radius: var(--border-radius-primary);
  }

  .grid-container {
    display: grid;
    gap: var(--column-gap-primary);
    grid-template-areas: "empty left-column right-column";
  }

  .testimonials,
  .cta {
    display: flex;
    flex-direction: column;
    align-items: var(--text-align-primary);
  }

  .cta {
    background-color: #100a55;
  }

  article {
    grid-area: left-column;
  }
}

h1 {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-primary);
}

h2 {
  font-size: var(--font-size-tertiary);
}

.background-color {
  background-color: var(--color-background-secondary);
}

@media (min-width: 1024px) {
  .benefit-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--column-gap-secondary);
    align-items: center;
  }
}

.sentence-first {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.sentence-second {
  font-size: var(--font-size-quaternary);
  font-weight: var(--font-weight-primary);
}
