.header {
  display: none;
}

.map-image {
  display: none;
}

aside {
  align-self: center;
  justify-self: center;
  grid-area: right-column;
}

.house-image {
  max-width: fit-content;
  margin-bottom: 10px;
}

.benefit-component {
  text-align: center;
}

.cta {
  background-color: #100a55;
  padding: var(--padding-primary);
}

@media (min-width: 1024px) {
  .cta {
    display: flex;
    gap: var(--column-gap-secondary);
  }

  .map-image {
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }

  .grid-properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: var(--column-gap-secondary);
  }

  .header-btn {
    display: flex;
    gap: var(--column-gap-secondary);
    border-radius: var(--border-radius-primary);
  }

  .testimonials,
  .cta {
    display: flex;
    flex-direction: column;
    align-items: var(--text-align-primary);
  }

  article {
    grid-area: left-column;
  }
}

h1 {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-primary);
}

h2 {
  font-size: var(--font-size-tertiary);
  line-height: 3.5;
}

@media (min-width: 1024px) {
  .benefit-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--column-gap-secondary);
    align-items: center;
    padding: var(--padding-secondary);
  }
}

.sentence-first {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.sentence-second {
  font-size: var(--font-size-quaternary);
  font-weight: var(--font-weight-primary);
}
