.title {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-tertiary);
  font-weight: var(--font-weight-secondary);
}

.headline-question {
  color: var(--color-text-primary);
  font-size: var(--font-size-secondary);
  text-align: center;
}

.paragraph {
  color: #d3d5da;
  font-size: var(--font-size-quaternary);
  text-align: center;
}

.input {
  border: none;
}

.input:focus {
  background-color: var(--color-background-secondary);
}
.newstletter {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: var(--color-background-primary);
  max-width: 100%;
  padding: var(--padding-secondary);
}

@media (min-width: 1024px) {
  .newstletter {
    width: 40%;
  }
}
