.nav-links {
  list-style-type: none;
  gap: var(--column-gap-primary);
}

.single-nav-link:hover {
  color: var(--color-text-tertiary);
}

.single-nav-link {
  text-decoration: none;
  color: black;
}

@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    flex-direction: row;
  }
}
