.first-text {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.second-text {
  font-size: var(--font-size-quaternary);
  color: var(--color-text-secondary);
}

.top-nav-property-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-secondary);
}
