.tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0;
}

.tab-list li:nth-child(1) .tab {
  border-top-left-radius: 12px;
}

.tab-list li:nth-child(3) .tab {
  border-top-right-radius: 12px;
}

.tab {
  width: max-content;
  padding: var(--padding-secondary);
  border: none;
  background-color: var(--color-text-primary);
  font-size: var(--font-size-quaternary);
  font-weight: var(--font-weight-secondary);
  cursor: pointer;
}

.tab.active {
  color: var(--color-text-tertiary);
  border-bottom: 3px solid #7065f0;
}

.search-input {
  background-color: var(--color-background-primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: var(--padding-secondary);
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: var(--font-size-quaternary);
  color: var(--color-text-secondary);
  max-width: 100%;
  width: 50%;
  border: none;
}

.input:focus {
  background-color: var(--color-background-secondary);
}
