.headline-title,
.headline,
.review,
.awatar,
.author {
  text-align: center;
}

.headline-title {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.headline {
  font-size: var(--font-size-quaternary);
  color: var(--color-text-secondary);
}

.review {
  font-size: var(--font-size-tertiary);
}

.awatar {
  padding: var(--padding-secondary);
}

.awatars {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .review {
    max-width: 50%;
  }
}
