.sentence-first {
  font-size: 40px;
  font-weight: bold;
}

.sentence-second {
  font-size: 16px;
  font-weight: normal;
  color: #6c727f;
  padding-bottom: 30px;
}

.header {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}
