.nav-mobile {
  background-color: #fafafe;
  display: flex;
  justify-content: space-between;
}

.nav-mobile-menu {
  display: grid;
  row-gap: 10px;
}

@media (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }
}
