.first-text {
  font-size: 40px;
  font-weight: bold;
}

.second-text {
  font-size: 16px;
  color: #4d546a;
}

.top-nav-property-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
